.dart_tool/

# IntelliJ related
*.iml
.idea/

**/test/**/failures/
pubspec_overrides.yaml

node_modules
.next

.now
out/
.DS_Store

.vercel

public/3rd_package_examples/
public/snippets/
public/uiexplorer/
