@import '~@duik/core/_vars.scss';

.main {
  height: 100vh;
  .content {
    padding: 60px;
    background: $bg-main;
    max-width: 1440px;
    position: relative;
    border-right: $border-default-base;
    margin-left: auto;
    margin-right: 320px;
    min-height: 100vh;

    // p {
    //   max-width: 760px;
    // }

    img {
      max-width: 100%;
    }

    blockquote {
      padding: 10px 20px;
      margin: 10px 0;
      font-size: 16px;
      border-left: 5px solid #b2cda9;
      color: #444;
    }

    blockquote p {
      margin: 0px;
    }

    & > * + p {
      margin-top: 0.7rem;
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4 {
      color: $text-main;
      font-weight: 400;

      & + p {
        margin-top: 1em;
      }
    }

    & > h1 {
      font-size: 3rem;
    }

    & > h2 {
      font-size: 1.6rem;
    }

    & > * + h1,
    & > * + h2,
    & > * + h3,
    & > * + h4,
    & > * + h5,
    & > * + h6 {
      margin-top: 2em;
    }

    & > ul,
    & > ol {
      padding-left: 30px;
    }
  }

  * + .section {
    margin-top: 1.5rem;
  }

  .section {
    padding-left: 15px;
  }

  .video-container {
    max-width: 768px;
    height: 432px;
  }

  .page-content-list-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;

    & + h1 {
      margin-top: 0 !important;
    }
  }

  .page-content-list {
    position: absolute;
    top: 0;
    left: calc(100% + 100px);
    width: 250px;

    li,
    li * {
      white-space: nowrap;
    }

    li {
      margin-left: 20px;
      margin-right: auto;
    }
  }
  .telegram-floating-button {
    right: 40px;
    bottom: 20px;
  }
}

.main.rtl {
  .content {
    margin-left: 320px;
    margin-right: auto;
  }

  .page-content-list {
    right: calc(100% + 100px);

    li {
      margin-left: auto;
      margin-right: 20px;
    }
  }
  .telegram-floating-button {
    left: 40px;
    right: auto;
  }
}

@media (max-width: 1400px) {
  .main {
    .content {
      padding: 60px;
      margin-right: 0px;
      min-height: 100vh;
    }
    .page-content-list-wrapper {
      display: none;
    }
  }
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  margin-bottom: 20px;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

iframe[src*='ads-iframe'] {
  display: none;
}

#disqus_thread {
  width: 100% !important;
  margin-top: 32px !important;
}

#disqus_thread iframe {
  background-color: #ffffff !important;
}
