@import '~@duik/core/_vars.scss';

.main-top-bar {
  @media screen and (max-width: 1400px) {
    padding-left: 80px !important;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    padding-left: 70px;
  }
}

.main-top-bar-menu-btn {
  display: none !important;
  background: white !important;
  width: 70px;
  flex-basis: 70px;
  flex-shrink: 0;
  height: 100%  !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
  justify-content: center !important;
  align-items: center !important;
  flex-grow: 0;
  @media screen and (max-width: 1400px) {
    display: flex !important;
  }
  border-right: $border-default-base !important;
  // border-bottom: $border-default-base !important;
  position: absolute !important;
  top: 0;
  left: 0;
}

.main-top-bar-right-section {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
