@import '~@duik/core/_vars.scss';

.main-side-bar {
  z-index: 100;
  @media screen and (max-width: 1400px) {
    position: fixed !important;
    top: 71px;
    height: calc(100% - 70px) !important;
    right: 100%;
    transition: 0.4s;
    &-open {
      transform: translateX(100%);
    }
  }
}
