iframe {
  overflow: hidden;
  min-height: 260px;
  border: none;
  background-color: #f7f7f7;
}

.embedVideo-container {
  height: 394px;
}

@media (max-width: 500px) {
  .embedVideo-container {
    height: 260px;
  }
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
