#embed_snippet_detail-page {
  .webdemo {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
    iframe {
      width: 100vw;
      height: 100vh;
      background-color: white;
    }
  }
}
