.code-example {
  margin-left: -60px;
  margin-right: -60px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;

  .liveslice {
    margin-left: 60px;
    min-width: 375px;
    align-items: center;
    margin-right: 20px;
  }
  .code {
    flex: 1;
    overflow: hidden;
    pre {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
}
