@import '../../styles/antd-custom.less';

.article-content {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  min-height: calc(100vh - 64px);
  height: 100%;
  width: 100%;

  .article-body {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    flex: 1;
    padding: 60px;
  }
}
