.select-option-country-content {
  display: flex;
  align-items: center;
}

.select-option-flag {
  margin-left: auto;
  margin-right: 10px;
  height: 14px;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
}

.main.rtl {
  .select-option-flag {
    margin-left: 10px;
    margin-right: auto;
  }
}
